@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swal2-modal {
  background-color: theme("colors.raisinblack");
  color: theme("colors.light");

  .swal2-confirm {
    background-color: theme("colors.primary");

    &:hover {
      background-color: theme("colors.primarydark");
    }

    color: theme("colors.light");
    border-color: theme("colors.primary");
    border-width: 1px;
  }
}

/* UsersTable.css */
.search-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}

/* Custom styles for DataTable */
.DataTable {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  /* Add rounded edges to the table container */
}

.rdt_Table {
  color: white;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .rdt_TableHead {
    display: none;
  }

  .rdt_TableBody {
    display: block;
  }

  .rdt_TableRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 8px;
    /* Add rounded edges to table rows */
  }

  .rdt_TableCell {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }


  .rdt_TableCell>div {
    flex: 1;
  }

  .rdt_TableCell:last-child {
    border: none;
  }
}

.rdt_TableHeadRow {
  background-color: rgb(36, 36, 36);
  border-top-left-radius: 8px;
  /* Add rounded edges to the top left of the table */
  border-top-right-radius: 8px;
  /* Add rounded edges to the top right of the table */
}

.rdt_TableBody {
  background-color: rgb(33, 33, 33);
}

.rdt_TableRow {
  border-bottom: 1px solid #525252;
}

.rdt_TableCell {
  color: rgb(255, 255, 255);
}

.rdt_Pagination {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  /* Add rounded edges to the bottom left of the table */
  border-bottom-right-radius: 8px;
  /* Add rounded edges to the bottom right of the table */
}

.rdt_Pagination ul {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  /* Add rounded edges to the bottom left of the table */
  border-bottom-right-radius: 8px;
  /* Add rounded edges to the bottom right of the table */
}



.ql-toolbar.ql-snow svg {
  filter: invert(1);
}

.ql-picker-label {
  color: white;
}
