@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swal2-modal {
  background-color: theme("colors.raisinblack");
  color: theme("colors.light");

  .swal2-confirm {
    background-color: theme("colors.primary.DEFAULT");

    &:hover {
      background-color: theme("colors.primarydark");
    }

    color: theme("colors.light");
    border-color: theme("colors.primary.DEFAULT");
    border-width: 1px;
  }
}

/* UsersTable.css */
.search-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}

/* Custom styles for DataTable */
.DataTable {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  /* Add rounded edges to the table container */
}

.rdt_Table {
  color: white;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .rdt_TableHead {
    display: none;
  }

  .rdt_TableBody {
    display: block;
  }

  .rdt_TableRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 8px;
    /* Add rounded edges to table rows */
  }

  .rdt_TableCell {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }


  .rdt_TableCell>div {
    flex: 1;
  }

  .rdt_TableCell:last-child {
    border: none;
  }
}

.rdt_TableHeadRow {
  background-color: rgb(36, 36, 36);
  border-top-left-radius: 8px;
  /* Add rounded edges to the top left of the table */
  border-top-right-radius: 8px;
  /* Add rounded edges to the top right of the table */
}

.rdt_TableBody {
  background-color: rgb(33, 33, 33);
}

.rdt_TableRow {
  border-bottom: 1px solid #525252;
}

.rdt_TableCell {
  color: rgb(255, 255, 255);
}

.rdt_Pagination {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  /* Add rounded edges to the bottom left of the table */
  border-bottom-right-radius: 8px;
  /* Add rounded edges to the bottom right of the table */
}

.rdt_Pagination ul {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 8px;
  /* Add rounded edges to the bottom left of the table */
  border-bottom-right-radius: 8px;
  /* Add rounded edges to the bottom right of the table */
}



.ql-toolbar.ql-snow svg {
  filter: invert(1);
}

.ql-picker-label {
  color: white;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 161 47% 41%;
    --primary-foreground: 161 4.699999999999999% 97.05%;

    --secondary: 161 23.5% 12.299999999999999%;
    --secondary-foreground: 161 4.699999999999999% 97.05%;

    --accent: 161 23.5% 12.299999999999999%;
    --accent-foreground: 161 4.699999999999999% 97.05%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 161 4.699999999999999% 97.05%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}